.dash {
	min-width: 100%;
	min-height: 100vh;
	height: 100vh;
}

.dash_container {
	position: relative;
	display: flex;
	height: 100%;
}

.dash_side {
	width: 20%;
	max-width: 20%;
	height: 100%;
}

.dash_content {
	/* position: absolute; */
	/* left: 17.5%; */
	display: flex;
	flex-direction: column;
	gap: 48px;
	height: 100%;
	width: 80%;
	max-width: 80%;
	padding: 59px 48px;
	overflow-y: scroll;
}

.dash_top {
	height: 40px;
	/* margin-bottom: 48px; */
}

@media (max-width: 768px) {
	.dash_container {
		display: block;
	}

	.dash_side {
		width: 100%;
		max-width: 100%;
		position: fixed;
		top: 0;
		right: -100%; /* Initially hidden off-screen */
		height: 100vh;
		background: white;
		transition: right 0.3s ease-in-out;
	}

	.dash_side .open {
		right: 0;
	}

	.dash_content {
		width: 100%;
		max-width: 100%;
		padding: 2vh 2vw;
	}
}
