.table_header {
	width: 100%;
	height: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	.table_title {
		font-size: 20px;
		font-weight: 650;
		text-align: left;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.table_filter {
		height: 100%;
		width: 50%;
	}
}

.empty_table {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin-top: 5%;
	line-height: 1.5;

	a {
		text-decoration: none;
		color: var(--primary-color);
	}
}

.table_content {
	border-radius: 6px;
	box-shadow: var(--shadow);
	overflow: hidden;
	padding: 8px 24px;
	background-color: var(--tertiary-alt-color);

	table {
		font-size: 12px;
		width: 100%;
		border-collapse: collapse;
		/* overflow-x: scroll; */

		thead {
			/* background-color: #fff; */

			tr {
				width: 100%;
				height: 40px;

				th {
					font-weight: bold;
					color: var(--tertiary-color);
				}
			}
		}

		tbody {
			width: 100%;

			tr {
				height: 45px;
				border-top: 1px solid rgba(var(--tertiary-rgb), 0.15);
				border-bottom: 1px solid rgba(var(--tertiary-rgb), 0.15);
				cursor: pointer;

				&:nth-child(1) {
					border-top: none;
				}

				&:nth-last-child(1) {
					border-bottom: none;
				}
			}

			td:nth-child(1) {
				color: var(--tertiary-color);
				font-weight: bold;
			}

			.participants {
				color: green;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
			}

			.status_col {
				height: 20px;
				width: 65px;
				padding: 6px;
				border-radius: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				justify-self: center;

				&.stopped {
					border: 1px solid red;
					color: red;
				}

				&.completed {
					border: 1px solid green;
					color: green;
				}

				&.pending {
					border: 1px solid var(--tertiary-color);
					color: var(--tertiary-color)
				}

				&.ongoing {
					border: 1px solid orange;
					color: orange;
				}
			}

			.more {
				font-weight: bold;
			}
		}
	}

	.table_footer {
		/* background-color: #fff; */
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 55px;

		button {
			width: 10%;
			height: 32px;
			border-radius: 24px;
			border: none; 
			color: #fff;
			background-color: var(--primary-color);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			gap: 6px;
			cursor: pointer;
		}

		span {
			width: 70%;
		}
	}
}

/* .table table {
	width: 100%;
	overflow-x: scroll;
} */

/* .table th {
	font-weight: bold;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	padding: 6px 12px;
	background-color: rgb(102, 104, 105, 0.3);
} */

/* .table tr {
	&:nth-child(even) {
		border-bottom: 1px solid grey;
		background-color: rgb(102, 104, 105, 0.2);
	}
	&:nth-child(odd) {
		border-bottom: 1px solid grey;
		background-color: rgb(102, 104, 105, 0.05);
	}
} */

/* .table th span {
	display: table-cell;
	align-items: center;
	justify-content: space-between;
	margin-right: 1.7rem;
} */

/* .table svg {
	margin-left: 10px;
	justify-self: flex-end;
} */

/* .table td {
	margin: auto;
	text-wrap: nowrap;
	line-height: 100%;
	text-align: left;
	padding: 6px 12px;

	&:nth-child(1) {
		text-align: center;
		padding: 0 15px;
	}
	&:hover {
		cursor: pointer;
	}
} */

/* td button {
	font-weight: bold;
} */

/* .table a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
} */

/* .statusCard {
	border-radius: 5px;
	width: fit-content;
	padding: 5px;
	font-weight: 600;
} */

/* .warning {
	background-color: var(--warning);
} */
/* .success {
	background-color: var(--success);
} */
/* .fail {
	background-color: var(--fail);
} */

/* .bland {
	background-color: var(--bland);
	color: var(--bland_icon);
} */

/* .action__button {
	border: none;
	background: none;
	width: 100%;
} */

/* .table_footer {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	display: flex;
	margin-top: 5px;
	font-size: small;
} */

/* .table_footer div:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	gap: 5px;
} */

/* .tfooter_button {
	background-color: #fff;
	padding: 2px 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
} */
